header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
main{
    margin-top: 76px;
}
.card{
    max-height: 209px;
}
.fuente{
    font-family: 'Permanent Marker', cursive;
}
.logo{
    height: 50px;
}
.cardt{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.cardtc{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.card-title{
    font-size: 20px;
}
.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(67,67,208,1) 35%, rgba(0,212,255,1) 100%);
}
.negro{
    color: black;
}
.gris{
    color: gray;
}
.blanco{
    color: white;
}
.minimo{
    min-height: 800px;
}
footer{
    height: 50px;
    background-color: rgb(33,37,41);
    text-align: center;
    line-height: 50px;
}
.colDesc{
    display: flex;
    justify-content: start;
}
.colDesc img{
    height: 407px;
}
.cardp{
    max-height: 409px;
}
.carrito{
    margin-right: 530px;
}
.cCarrito{
    min-height: 84vh;
    width: 100%;
}
.detalles{
    background: white;
    margin-top: 55px;
    height: 70vh;
    position: fixed;
    right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.registro{
    border: 1px solid black;
    width: 25%;
    padding: 50px;
    margin: 0 auto;
}
.registro2{
    padding: 220px;
}
.imgregistro{
    width: 400px;
}
.filtros{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}
.filtros li{
    height: 30px;
    padding: 0 5px;
    background: gray;
    border-radius: 5px;
    line-height: 30px;
    color: white;
    cursor: pointer;
}
.filtros :hover{
    background-color: white;
    color: black;
}