.card{
    max-height: 209px;
}
.fuente{
    font-family: 'Permanent Marker', cursive;
}
.cardt{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.card-title{
    font-size: 20px;
}
.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(67,67,208,1) 35%, rgba(0,212,255,1) 100%);
}
.negro{
    color: black;
}
.gris{
    color: gray;
}
footer{
    height: 50px;
    background-color: rgb(33,37,41);
    text-align: center;
    line-height: 50px;
}